# Hugo output directory for HTML5 files
public/
resources/
.hugo_build.json

# Make sure -- --bind folder not accedentally made and included
--bind/


# Local environment overrides
.env
.env.*

# Hugo lock file
.hugo_build.lock

# Operating system files
.DS_Store
Thumbs.db
